<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<!--<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org" lang="en">-->
<head>
    <meta charset="UTF-8">
    <title>Add car</title>
</head>
<body>
<div th:insert="~{fragments/menu :: #nav-menu}"></div>

<form th:action="@{/cars/new}" th:object="${car}" method="post">
    <table border="1">
        <tr>
            <td>Model</td>
            <td><input type="text" th:field="*{model}"></td>
<!--            <td><input type="text" th:field="*{model}"></td>-->
        </tr>
        <tr>
            <td>Price</td>
            <td><input type="text" th:field="*{price}"></td>
<!--            <td><input type="text" th:field="*{price}"></td>-->
        </tr>
        <tr>
            <td>Availability</td>
<!--            <td><input type="text" th:field="*{availability}"></td>-->
            <td><input type="text" th:field="*{availability}"></td>
        </tr>
        <tr>
            <td>Transmission</td>
<!--            <td><input type="text" th:field="*{carTransmission.type}"></td>-->
            <td><input type="text" th:field="*{carTransmission.type}"></td>
        </tr>
        <tr>
            <td>Engine volume</td>
<!--            <td><input type="text" th:field="*{carEngine.volume}"></td>-->
            <td><input type="text" th:field="*{carEngine.volume}"></td>
        </tr>
        <tr>
            <td>Engine type</td>
<!--            <td><input type="text" th:field="*{carEngine.type}"></td>-->
            <td><input type="text" th:field="*{carEngine.type}"></td>
        </tr>
        <td>Color</td>
<!--        <td><input type="text" th:field="*{carColor.colorName}"></td>-->
        <td><input type="text" th:field="*{carColor.colorName}"></td>
        </tr>
    </table>
    <button type="submit">Save</button>
</form>

</body>
</html>