<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<!--<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org" lang="en">-->
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
</head>
<body>
<div th:insert="~{fragments/menu :: #nav-menu}"></div>

<table border="1" align="center">
    <tr>
        <td>Model</td>
        <td>Price</td>
        <td>Availability</td>
        <td>Transmission</td>
        <td>Engine</td>
        <td></td>
    </tr>
    <tr th:each="car : ${cars}">

        <td th:text="${car.model}">CoolRay</td>
        <td th:text="${car.price}">12.0</td>
        <td th:text="${car.availability}">true</td>
        <td th:text="${car.carTransmission}"></td>
        <td th:text="${car.carEngine}"></td>
           <td><a th:href="@{'/cars/{id}/clientOrder' (id=${car.id})}">Add to order</a></td>

    </tr>
</table>
<a th:href="@{/cars/new}">Add new</a>
</body>
</html>