<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<!--<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org" lang="en">-->
<head>
    <meta charset="UTF-8">
    <title>clientOrder</title>
</head>
<body BGCOLOR="#D3D3D3">
<div th:insert="~{fragments/menu :: #nav-menu}"></div>
<h2>Order</h2>
<h3>Sum order <b th:text="${clientOrder.sum}">1000</b></h3>

<table border="1" align="center">
    <tr>
        <td>Model</td>
        <td>Amount</td>
        <td>Price</td>
        <td>Transmission</td>
        <td>Engine volume</td>
        <td>Engine type</td>
        <td>Color</td>
        <td>Options</td>
        <td>Sum</td>
        <td></td>
    </tr>
    <tr th:each="detail : ${clientOrder.orderDetails}">
        <td th:text="${detail.model}"></td>
        <td th:text="${detail.amount}"></td>
        <td th:text="${detail.price}"></td>
        <td th:text="${detail.carTransmission.type}"></td>
        <td th:text="${detail.carEngine.getVolume}"></td>
        <td th:text="${detail.carEngine.getType}"></td>
        <td th:text="${detail.carColor.colorName}"></td>
        <td>
            <p><select name="${car.carOption.optionName}">
                <option th:text="${car.carOption.optionName}"></option>
                <optgroup label="Salon">
                    <option disabled th:text="${car.carOption.salon}"></option>
                </optgroup>
                <optgroup label="Heated seats">
                    <option disabled th:text="${car.carOption.heatedSeat}"></option>
                </optgroup>
                <optgroup label="Cruise control">
                    <option disabled th:text="${car.carOption.cruiseControl}"></option>
                </optgroup>
                <optgroup label="Wheel control">
                    <option disabled th:text="${car.carOption.steeringWheelControl}"></option>
                </optgroup>
                <optgroup label="Fog Light">
                    <option disabled th:text="${car.carOption.fogLight}"></option>
                </optgroup>
            </select></p>
        </td>
        <td th:text="${detail.sum}"></td>
        <td><a href="#">Remove</a></td>
        <!--        <td><a th:href="@{'/clientOrder.orderDetails/{id}/clientOrder' (id=${car.id})}">Remove</a></td>-->
    </tr>
</table>

</body>
</html>